name: ONNX Runtime / Python - Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  IS_TRANSFORMERS_CI: 1

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        transformers-version: ["latest"]
        os: [ubuntu-20.04, windows-2019] # TODO : add macos-15 after mps fix
        include:
          - transformers-version: "4.36.*"
            os: ubuntu-20.04
          - transformers-version: "4.45.*"
            os: ubuntu-20.04

    runs-on: ${{ matrix.os }}

    steps:
      - name: Free Disk Space (Ubuntu)
        if: matrix.os == 'ubuntu-20.04'
        uses: jlumbroso/free-disk-space@main

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.9"

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install --no-cache-dir torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cpu
          pip install .[tests,onnxruntime,diffusers]

      - name: Install transformers ${{ matrix.transformers-version }}
        if: ${{ matrix.transformers-version != 'latest' }}
        run: |
          pip install "transformers==${{ matrix.transformers-version }}"

      - name: Downgrade diffusers
        if: matrix.transformers-version == '4.36.*'
        run: |
          pip install "diffusers<0.32.0"

      - name: Test with pytest (in series)
        run: |
          pytest tests/onnxruntime -m "run_in_series" --durations=0 -vvvv

      - name: Test with pytest (in parallel)
        run: |
          pytest tests/onnxruntime -m "not run_in_series" --durations=0 -vvvv -n auto
        env:
          HF_HUB_READ_TOKEN: ${{ secrets.HF_HUB_READ_TOKEN }}
