name: BetterTransformer / Python - Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.8]
        os: [ubuntu-20.04, macos-latest]

    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
    - name: Setup Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        pip install .[tests]
        pip3 install --upgrade torch torchvision torchaudio
        pip install accelerate transformers datasets
        pip install soundfile
    - name: Test with unittest
      working-directory: tests
      run: |
        python -m unittest discover -s bettertransformer -p 'test_*.py'