name: GPTQ / Python - Test

on:
  workflow_dispatch:
  push:
    branches: [main]
    paths:
      - tests/gptq/**
      - optimum/gptq/**
      - .github/workflows/test_gptq.yml
  pull_request:
    branches: [main]
    paths:
      - tests/gptq/**
      - optimum/gptq/**
      - .github/workflows/test_gptq.yml
  schedule:
    # every day at midnight
    - cron: "0 0 * * *"

env:
  UV_SYSTEM_PYTHON: 1
  HF_HOME: /mnt/cache/
  TRANSFORMERS_IS_CI: true

jobs:
  test_gptq:
    runs-on:
      group: aws-g6-4xlarge-plus

    container:
      image: nvidia/cuda:12.8.1-cudnn-devel-ubuntu22.04
      options: --gpus all --shm-size 16G --volume /mnt/cache/:/mnt/cache/

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install --upgrade pip uv
          uv pip install .[tests]
          uv pip install gptqmodel --no-build-isolation

      - name: Run tests
        run: |
          pytest tests/gptq -s -vvvv --durations=0
