name: ONNX Runtime / Python - Test

on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:
    branches: [main]
    types:
      - opened
      - labeled
      - reopened
      - unlabeled
      - synchronize

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  TRANSFORMERS_IS_CI: true

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.9]
        runs-on: [ubuntu-22.04]
        test_file: [
            test_timm.py,
            test_modeling.py, # todo: split into test_encoder, test_decoder and test_encoder_decoder
            test_diffusion.py,
            test_optimization.py,
            test_quantization.py,
            test_utils.py,
          ]

    runs-on: ${{ matrix.runs-on }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install --no-cache-dir torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cpu
          pip install .[tests,onnxruntime] diffusers

      - name: Test with pytest (in series)
        if: matrix.test_file == 'test_modeling.py'
        run: |
          pytest tests/onnxruntime -m "run_in_series" --durations=0 -vvvv

      - name: Test with pytest (in parallel)
        run: |
          pytest tests/onnxruntime/${{ matrix.test_file }} -m "not run_in_series" --durations=0 -vvvv -n auto
        env:
          HF_HUB_READ_TOKEN: ${{ secrets.HF_HUB_READ_TOKEN }}
