name: ONNX Runtime Training / Python - Test

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    types:
      - opened
      - reopened
      - labeled
      - unlabeled
      - synchronize

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  do-the-job:
    if: ${{
      (github.event_name == 'push') ||
      (github.event_name == 'workflow_dispatch') ||
      contains( github.event.pull_request.labels.*.name, 'training') ||
      contains( github.event.pull_request.labels.*.name, 'onnxruntime-training')
      }}

    runs-on:
      group: aws-g6-4xlarge-plus

    container:
      image: nvidia/cuda:11.8.0-cudnn8-devel-ubuntu22.04
      options: --gpus all

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.8

      - name: Install dependencies
        env:
          TORCH_CUDA_ARCH_LIST: "5.0 6.0 7.0 7.5 8.0 8.6 9.0+PTX"
        run: |
          pip install --upgrade pip
          pip install --no-cache-dir torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118
          pip install --no-cache-dir torch-ort onnxruntime-training && python -m torch_ort.configure
          pip install --no-cache-dir evaluate absl-py rouge_score seqeval sacrebleu nltk scikit-learn
          pip install .[tests,onnxruntime-gpu]

      - name: Replace opencv-python with opencv-python-headless
        run: |
          pip uninstall -y opencv-python && pip install opencv-python-headless

      - name: Test with pytest
        run: |
          RUN_SLOW=1 pytest tests/onnxruntime/training/nightly_test_trainer.py --durations=0 -s -vvvv
          RUN_SLOW=1 pytest tests/onnxruntime/training/nightly_test_examples.py --durations=0 -s -vvvv
