name: BetterTransformer / Python - Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  TRANSFORMERS_IS_CI: true

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.9]
        runs-on: [ubuntu-22.04]

    runs-on: ${{ matrix.runs-on }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies (stable pytorch)
        run: |
          pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cpu
          pip install .[tests] transformers==4.48.*

      - name: Test with pytest (stable pytorch)
        run: |
          pytest tests/bettertransformer -vvvvv

      - name: Install dependencies (nightly pytorch)
        run: |
          pip install --pre --upgrade torch torchvision torchaudio --index-url https://download.pytorch.org/whl/nightly/cpu

      - name: Test with pytest (nightly pytorch)
        run: |
          pytest tests/bettertransformer -vvvv
