# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions
name: ONNX Runtime / Python - Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.8]  # TODO: add back 3.9 once https://github.com/microsoft/onnxruntime/issues/14663 is fixed
        os: [ubuntu-20.04, windows-2019, macos-latest]

    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
    - name: Setup Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        pip install .[tests,onnxruntime]
    - name: Test with pytest
      working-directory: tests
      run: |
        pytest -n auto -m "not run_in_series" --durations=0 onnxruntime
        pytest -m "run_in_series" --durations=0 onnxruntime
