# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions
name: ONNX Runtime / Python - Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.8, 3.9]
        os: [ubuntu-20.04, windows-2019, macos-13]

    runs-on: ${{ matrix.os }}
    steps:
      - name: Free Disk Space (Ubuntu)
        if: matrix.os == 'ubuntu-20.04'
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: false
          swap-storage: false
          large-packages: false

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install --no-cache-dir torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cpu
          pip install .[tests,onnxruntime]

      - name: Test with pytest (in series)
        working-directory: tests
        run: |
          pytest onnxruntime -m "run_in_series" --durations=0 -vvvv -s

      - name: Test with pytest (in parallel)
        env:
          FXMARTYCLONE_READ_TOKEN: ${{ secrets.HF_HUB_READ_TOKEN }}
        working-directory: tests
        run: |
          pytest onnxruntime -m "not run_in_series" --durations=0 -vvvv -s -n auto
